
.input__group{
    display: flex;
}


.input__group .input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input__group .button{
    border-top-left-radius: 0;
    border-bottom-left-radius:0 ;
}