.footer{
    border-top: 5px solid var(--color-darken-gray);
    padding: 48px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer__logo{
    width: 170px;
    margin-right: 64px;
}

.footer__nav__link{
    text-decoration: none;
    color:var(--color-white);
    font-size: 18px;
    line-height: 24px;
    border-right: 1px solid var(--color-gray);
}
.footer__nav__link:last-child{
    border-right: none;
}
