:root{
    --color-red:#f41b3b;
    --color-green:#1ebc99;
    --color-yellow:#f9cc0d;

    --color-blue:#1884f7;
    --color-white:#ffffff;
    --color-black:#0a070b;
    --color-darken-gray:#363536;
    --color-gray:#4f4e50;
    --color-light-gray:#807581;

    --font-family-questrial:'Questrial', sans-serif;

    --color-primary:var(--color-red);
    --font-family-primary:var(--font-family-questrial);
}